.section-bg {
    background-color: #f7f7f7;
}



.carousel-content {
    background: rgba(102, 96, 96, 0.7);
    padding: 20px;
    color: #fff;
    border-top: 5px solid #1bbd36;
    position: absolute;
    bottom: 0;
}



/* Update the icon styles to align them in the center */
.icon ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; 
    align-items: center; 
}

.icon ul li {
    list-style: none;
    margin: 0 15px;
}

.icon ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    background: #333;
    color: #666;
    transition: 0.5s;
    text-decoration: none; 
}

.icon ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}


.title a {
    list-style: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.title a:hover {
    color: rgb(169, 175, 166);
}

.marquee {
    background-color: rgb(173, 216, 230);
    font-size: 25px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.history ul {
    list-style: none;
  }

.history a {
    text-decoration: none;
    color: rgb(33, 37, 41)

  }
  
  
  .history li i {
    color: green;
    font-size: 20px;
  }
  

  .counter {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #3498db; 
    text-align: center;
    width: 190px;
    padding: 25px 30px 10px;
    margin: 0 auto;
    border-radius: 30px 0;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.05);
    position: relative;
    z-index: 1;
}

.counter.pink {
    background-color: #FF5D94;
    font-family: 'Open Sans', sans-serif;
    color: #fff; 
    text-align: center;
    width: 190px;
    padding: 25px 30px 10px;
    margin: 0 auto;
    border-radius: 30px 0;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.05);
    position: relative;
    z-index: 1;
}

.counter .counter-value {
    color: #3498db; 
    background: #fff;
    font-size: 33px;
    font-weight: 600;
    text-align: right;
    line-height: 60px;
    width: 100%; 
    height: 60px; 
    margin: 0;
    display: block;
    padding: 0 10px; 
}


.counter .counter-icon {
    font-size: 35px;
    margin: 0 0 10px;
    transform-origin: center; 
    transition: transform 0.5s; 
}

.counter .counter-icon:hover {
    transform: rotate(360deg); 
}



.clients .client-logo {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    background: #fff;
    height: 100px;
    list-style: none;
}

.clients .client-logo img {
    transition: all 0.3s ease-in-out;
    height: 36px;
    filter: grayscale(100%);
}

.clients .client-logo a {
    text-decoration: none;
    color: #333;
}


.line {
    border-top: 2px solid #c66969;
    width: 30%;
    display: inline-block;
  }
  
  .left {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .right {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  /* ----------- */

  .line2 {
    border-top: 2px solid #b56969;
    display: inline-block;
  }
  
  .left2 {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 30%;
  }
  
  .right2 {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 55%;
  }


    /* ----------- */

    .line3 {
        border-top: 2px solid #b56969;
        display: inline-block;
      }
      
      .left3 {
        margin-right: 10px;
        margin-bottom: 5px;
        width: 10%;
      }
      
      .right3 {
        margin-left: 10px;
        margin-bottom: 5px;
        width: 35%;
      }
    

 